

body { box-sizing: border-box;
font-family: 'Oswald', sans-serif;
margin-top: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 30px;
  background-image: url("https://cache.desktopnexus.com/thumbseg/1405/1405459-bigthumbnail.jpg");
}

.nav {
position: fixed;
width: 20px;
background-color: grey;
z-index: 9990;
}

ul {
list-style-type: none;
margin: auto auto;
padding: 0;
overflow: auto;
background-color: white;
position: static;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.navbar > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
}

li a:hover {
background-color: #111;
}
.active {
background-color: #4CAF50;
}

nav,
footer {
  padding: 5px;
  background-color:grey;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 12% 0;
}

section {
  min-height: 50px;
  padding: 0% 0;
  background-color: #bbb;
}


